---
---
@import "{{ site.theme }}";

// Imagem de perfil
.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto 2rem;
  display: block;
  border: 4px solid var(--accent-color);
}